{
    "userId": "",
    "username": "",
    "password": "",
    "tenantId": "",
    "tenantName": "",    
    "ftpUser": "",    
    "ftpPassword": "",    
    "ftpPort": "",    
    "ftpFolder": ""    
}
